<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Your account
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <template>
          <figure class="image is-128x128" id="profile">
            <img class="" :src="user.profilImage" />
          </figure>
          <b-field
            class="file is-primary"
            id="profile"
            :class="{ 'has-name': !!file }"
          >
            <b-upload v-model="file" class="file-label">
              <span class="file-cta">
                <b-icon class="file-icon" icon="upload"></b-icon>
                <span class="file-label">Click to upload</span>
              </span>
              <span class="file-name" v-if="file">
                {{ file.name }}
              </span>
            </b-upload>
          </b-field>

          <b-field label="pseudo">
            <b-input :value="user.login" disabled="true"></b-input>
          </b-field>

          <b-field label="mail">
            <b-input :value="user.mail" v-model="mail"> </b-input>
          </b-field>
        </template>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item" v-on:click="onClickUpdate">Update</a>
    </footer>
  </div>
</template>

<script>
import qs from "qs";

export default {
  name: "AccountComponent",
  props: {
    msg: String,
  },

  data: () => {
    return {
      user: {},
      mail: "",
      file: null,
    };
  },
  mounted() {
    this.user = this.$store.state.connectedUser;
    this.mail = this.$store.state.connectedUser.mail;
  },

  updated() {
    if (this.file !== null) {
      this.getBase64(this.file).then((data) => (this.user.profilImage = data));
    }
  },

  methods: {
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      });
    },

    onClickUpdate() {
      this.user.mail = this.mail;
      console.log(this.user._id)
      const requestBody = {
        user: this.user,
      };

      const config = {
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      };
      this.axios
        .put("/user", qs.stringify(requestBody, config))
        .then(() => {
          this.$store.dispatch("setconnecteduser", this.user);
          this.showPopUp(`Your profile has been updated`);
        })
        .catch(() => {
          this.showPopUp(`Please your field is not good`);
        });
    },

    showPopUp(msg) {
      this.$buefy.snackbar.open(msg);
    },
  },
};
</script>

<style scoped>
#profile {
  margin-left: auto;
  margin-right: auto;
}
</style>
