<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Sign up
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <template>
          <figure class="image is-128x128" id="profile">
            <img class="" :src="userImageStr" />
          </figure>
          <b-field
            class="file is-primary"
            id="profile"
            :class="{ 'has-name': !!file }"
          >
            <b-upload v-model="file" class="file-label">
              <span class="file-cta">
                <b-icon class="file-icon" icon="upload"></b-icon>
                <span class="file-label">Click to upload</span>
              </span>
              <span class="file-name" v-if="file">
                {{ file.name }}
              </span>
            </b-upload>
          </b-field>
          <b-field label="login">
            <b-input placeholder="login" v-model="login"></b-input>
          </b-field>

          <b-field label="mail">
            <b-input placeholder="mail" type="email" v-model="mail"></b-input>
          </b-field>

          <b-field label="password">
            <b-input
              placeholder="password"
              type="password"
              password-reveal
              v-model="password"
            ></b-input>
          </b-field>
        </template>
      </div>
    </div>
    <footer
      class="card-footer"
      v-if="
        password !== '' && login !== '' && mail !== '' && userImageStr !== ''
      "
    >
      <a class="card-footer-item" v-on:click="onClickCreateAccount">
        <template>create account</template>
      </a>
    </footer>
  </div>
</template>

<script>
import qs from "qs";

export default {
  name: "",
  components: {},
  data: () => {
    return {
      file: null,
      userImageStr: "",
      mail: "",
      login: "",
      password: "",
    };
  },
  created() {},
  mounted() {},

  updated() {
    if (this.file !== null) {
      this.getBase64(this.file).then((data) => (this.userImageStr = data));
    }
  },

  methods: {
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      });
    },

    onClickCreateAccount() {
      const user = {
        login: this.login,
        password: this.password,
        profilImage: this.userImageStr,
        mail: this.mail,
        point: 0,
      };

      const requestBody = {
        user: user,
      };

      const config = {
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      };
      this.axios
        .post("/user", qs.stringify(requestBody, config))
        .then((response) => {
          this.$store.dispatch("setconnecteduser", response.data);
          this.$router.push({ name: "Home" });
          this.showPopUp(`Your profile has been updated`);
        })
        .catch((err) => {
          console.log(err);
          this.showPopUp(`Please your field is not good`);
        });
    },

    showPopUp(msg) {
      this.$buefy.snackbar.open(msg);
    },
  },
};
</script>

<style scoped></style>
