<template>
  <div>
    <section v-if="meme === null">
      <b-table
        :data="postedMeme"
        ref="table"
        paginated
        per-page="5"
        detail-key="id"
        aria-next-label="Next page"
        aria-previous-label="Previous page"
        aria-page-label="Page"
        aria-current-label="Current page"
      >
        <b-table-column field="meme" label="Meme" width="40" v-slot="props">
          <figure class="media-left">
            <p class="image is-64x64">
              <img :src="props.row.image" />
            </p>
          </figure>
        </b-table-column>

        <b-table-column
          field="information"
          label="Information"
          sortable
          v-slot="props"
        >
          <template v-if="true">
            {{ props.row.information }}
          </template>
        </b-table-column>

        <b-table-column field="tags" label="Tags" sortable v-slot="props">
          {{ props.row.tags }}
        </b-table-column>

        <b-table-column field="like" label="Like" sortable v-slot="props">
          {{ props.row.like }}
        </b-table-column>

        <b-table-column field="action" label="action" v-slot="props">
          <b-button
            type="is-danger"
            icon-right="delete"
            v-on:click="onClickDelete(props.row._id)"
          />

          <b-button
            type="is-info"
            icon-right="pencil"
            v-on:click="onClickUpdate(props.row)"
          ></b-button>
        </b-table-column>
      </b-table>
    </section>

    <br />
    <br />

    <div class="card" v-if="meme !== null">
      <header class="card-header">
        <p class="card-header-title">
          Edit data
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <template>
              <figure class="image is-128x128" id="meme">
            <img class="" :src="meme.image" />
          </figure>
            <b-field label="information">
              <b-input
                placeholder="Information about your meme"
                :value="meme.information"
                v-model="information"
              ></b-input>
            </b-field>

            <b-field label="Tags">
              <b-input
                placeholder="Tags for your meme"
                :value="meme.tags"
                v-model="tags"
              ></b-input>
            </b-field>
          </template>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" v-on:click="onClickUpdateSave">
          <template>Update</template>
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import qs from "qs";
export default {
  name: "MyMemeComponent",
  components: {},
  data: () => {
    return {
      postedMeme: [],
      meme: null,
      information: '',
      tags: '',
    };
  },
  created() {},
  mounted() {
    this.axios
      .get(`meme/${this.$store.state.connectedUser._id}`)
      .then((response) => {
        this.postedMeme = response.data;
      })
      .catch((err) => {
        console.log(err);
      });
  },

  updated() {
    this.axios
      .get(`meme/${this.$store.state.connectedUser._id}`)
      .then((response) => {
        this.postedMeme = response.data;
      })
      .catch((err) => {
        console.log(err);
      });
  },

  methods: {
    onClickDelete(idToDelete) {
      this.axios
        .delete(`meme/${idToDelete}`)
        .then(() => {
          this.showPopUp(`Your meme has been delete`);
        })
        .catch((err) => {
          console.log(err);
          this.showPopUp(`Error on deletion`);
        });
    },

    onClickUpdate(meme) {
      
      this.meme = meme;
      this.information = this.meme.information;
      this.tags = this.meme.tags
    },

    onClickUpdateSave() {
        this.meme.information = this.information;
        this.meme.tags = this.tags
         const requestBody = {
             meme: this.meme
        };

        const config = {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        };
        this.axios
          .put("/meme", qs.stringify(requestBody, config))
          .then(() => {
            // this.$router.push({ name: "Home" });
            // this.$store.dispatch("setconnecteduser", response.data.user);
          })
          .catch((err) => {
            console.log(err);
            this.showPopUp(`Please check your credential`);
          });

      this.meme = null;
    },

    showPopUp(msg) {
      this.$buefy.snackbar.open(msg);
    },
  },
};
</script>

<style scoped>
#meme {
  margin-left: auto;
  margin-right: auto;
}
</style>

