<template>
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <section>
                <b-field>
                  <b-input placeholder="Search your meme here ..."></b-input>
                </b-field>
              </section>
            </div>
          </div>
          <div class="media-right">
            <div class="buttons">
              <button class="button ">
                <b-icon icon="magnify"></b-icon>
              </button>
            </div>
          </div>
        </article>
        <br />
        <h2 class="title">
          Meme in trend
          <TrendingMeme :memes="trendingsMemes" />
        </h2>

        <br />
      </div>
    </div>
  </section>
</template>

<script>
import TrendingMeme from "./TrendingMeme.vue";
export default {
  name: "HomePageComponent",
  props: {},

  data: () => {
    return {
      trendingsMemes: [],
    };
  },
  components: {
    TrendingMeme,
  },

  mounted() {},

  created() {
    this.getTrendingMeme();
  },

  methods: {
    getTrendingMeme() {
      this.axios
        .get("/trending-meme")
        .then((response) => (this.trendingsMemes = response.data));
    },
  },
};
</script>

<style scoped></style>
