<template>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <!-- First element of meme trending -->
        <div class="tile is-parent is-vertical" v-if="memes.length >= 1">
          <article class="tile is-child notification is-primary">
            <p class="title">{{ memes[0].information }}</p>
            <p class="subtitle">{{ memes[0].like }} likes</p>
            <figure class="image is-4by3">
              <img :src="memes[0].image" />
            </figure>
          </article>

          <!-- Fourth element of meme trending -->
          <article
            class="tile is-child notification is-warning"
            v-if="memes.length >= 4"
          >
            <p class="title">{{ memes[3].information }}</p>
            <p class="subtitle">{{ memes[3].like }} likes</p>
            <figure class="image is-4by3">
              <img :src="memes[3].image" />
            </figure>
          </article>
        </div>

        <!-- Second element of meme trending -->
        <div class="tile is-parent" v-if="memes.length >= 2">
          <article class="tile is-child notification is-info">
            <p class="title">{{ memes[1].information }}</p>
            <p class="subtitle">{{ memes[1].like }} likes</p>
            <figure class="image is-4by3">
              <img :src="memes[1].image" />
            </figure>
          </article>
        </div>
      </div>

      <!-- Fifth element of meme trending -->
      <div class="tile is-parent" v-if="memes.length >= 5">
        <article class="tile is-child notification is-danger">
          <p class="title">{{ memes[4].information }}</p>
          <p class="subtitle">{{ memes[4].like }} likes</p>
          <figure class="image is-4by3">
            <img :src="memes[4].image" />
          </figure>
        </article>
      </div>
    </div>

    <!-- Third element of meme trending -->
    <div class="tile is-parent" v-if="memes.length >= 3">
      <article class="tile is-child notification is-success">
        <p class="title">{{ memes[2].information }}</p>
        <p class="subtitle">{{ memes[2].like }} likes</p>
        <figure class="image is-4by3">
          <img :src="memes[2].image" />
        </figure>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: "TrendingMeme",

  props: ["memes"],

  mounted() {},

  created() {
  },

  methods: {},
};
</script>

<style scoped></style>
