<template>
    <figure class="image is-fullwidth">
    <img :src="randomMeme.image">
    </figure>
</template>

<script>
export default {
  name: "RandomMemeComponent",
  components: {},
  data: () => {
    return {
        randomMeme : {}
    };
  },
  created() {},
  mounted() {
    this.axios
      .get(`/random`)
      .then((response) => {
          this.randomMeme = response.data
      })
      .catch((err) => {
        console.log(err);
      });
  },

  updated() {
  },

  methods: {

  },
};
</script>

<style scoped>
</style>

