<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Post your favorite meme
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <template>
          <figure class="image is-128x128" id="profile">
            <img class="" :src="imageBase64" />
          </figure>
          <b-field
            class="file is-primary"
            id="profile"
            :class="{ 'has-name': !!file }"
          >
            <b-upload v-model="file" class="file-label">
              <span class="file-cta">
                <b-icon class="file-icon" icon="upload"></b-icon>
                <span class="file-label">Click to upload</span>
              </span>
              <span class="file-name" v-if="file">
                {{ file.name }}
              </span>
            </b-upload>
          </b-field>

          <b-field label="information">
            <b-input
              placeholder="Information about your meme"
              v-model="information"
            ></b-input>
          </b-field>

          <b-field label="tags">
            <b-input placeholder="Tags for your meme" v-model="tags"> </b-input>
          </b-field>
        </template>
      </div>
    </div>
    <footer
      class="card-footer"
      v-if="information !== '' && imageBase64 !== '' && tags !== ''"
    >
      <a class="card-footer-item" v-on:click="onClickSave">Save</a>
    </footer>
  </div>
</template>

<script>
import qs from "qs";
export default {
  name: "MemeComponent",
  props: {},

  data: () => {
    return {
      file: null,
      imageBase64: "",
      information: "",
      tags: "",
      userId: "",
    };
  },

  mounted() {
    this.userId = this.$store.state.connectedUser._id;
  },

  updated() {
    if (this.file !== null) {
      this.getBase64(this.file).then((data) => (this.imageBase64 = data));
    }
    this.userId = this.$store.state.connectedUser._id;
  },

  methods: {
    onClickSave() {
      const newMeme = {
        image: this.imageBase64,
        like: 0,
        postedBy: this.userId,
        tags: this.tags,
        information: this.information
      };

      const requestBody = {
        meme: newMeme,
      };

      const config = {
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      };
      this.axios
        .post("/meme", qs.stringify(requestBody, config))
        .then(() => {
          this.showPopUp(`Your meme has been posted`);
        })
        .catch((err) => {
          console.log(err);
          this.showPopUp(`Error on insert, please don't send to large file`);
        });

      this.information = '';
      this.tags = '';
      this.file = null;
      this.imageBase64 = '';
    },

    showPopUp(msg) {
      this.$buefy.snackbar.open(msg);
    },

    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      });
    },
  },
};
</script>

<style scoped></style>
