<template>
  <div class="container is-fullhd" id="app">
    <div class="notification ">
      <b-navbar class="is-light">
        <template slot="brand">
          <b-navbar-item tag="router-link" :to="{ path: '/' }">
            WikiMemePedia
          </b-navbar-item>
        </template>
        <template slot="start">
          <b-navbar-item tag="router-link" to="/random">
            Random
          </b-navbar-item>

          <b-navbar-dropdown label="My account" v-if="user.login !== undefined">
            <b-navbar-item
            tag="router-link"
            to="/account"
          >
            Personnal information
          </b-navbar-item>
            <b-navbar-item
            tag="router-link"
            to="/mymeme"
          >
            Posted meme
          </b-navbar-item>
          </b-navbar-dropdown>

          <b-navbar-item
            tag="router-link"
            to="/new"
            v-if="user.login !== undefined"
          >
            New meme
          </b-navbar-item>
        </template>

        <template slot="end">
          <b-navbar-item tag="div">
            <div class="buttons">
              <b-button
                type="is-primary"
                tag="router-link"
                to="/signup"
                v-if="user.login === undefined"
                ><strong>Sign up</strong>
              </b-button>

              <b-button
                class="button is-light"
                tag="router-link"
                to="/login"
                v-if="user.login === undefined"
              >
                Log in
              </b-button>

              <b-button
                class="button is-danger"
                v-if="user.login !== undefined"
                v-on:click="onClickDisconnect"
              >
                Disconnect
              </b-button>
            </div>
          </b-navbar-item>
        </template>
      </b-navbar>
      <router-view :user="user" />
    </div>
  </div>
</template>

<script>
// import NavBarComponent from "./components/core/NavBarComponent.vue";

export default {
  name: "App",
  components: {
    // NavBarComponent,
  },

  data: () => {
    return {
      user: {},
    };
  },

  updated() {
    this.user = this.$store.state.connectedUser;
  },

  methods: {
    onClickDisconnect() {
      this.$store.dispatch("setconnecteduser", {})
      this.$router.push({ name: "Home" });
      this.user = {}
    }
  }
};
</script>

<style></style>
