<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Component
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div class="content">
        <template>
          <b-field label="login">
            <b-input placeholder="login" v-model="login"></b-input>
          </b-field>

          <b-field label="password">
            <b-input
              placeholder="password"
              type="password"
              password-reveal
              v-model="password"
            ></b-input>
          </b-field>
        </template>
      </div>
    </div>
    <footer class="card-footer">
      <a
        class="card-footer-item"
        v-on:click="clickOnLogin"
        v-if="login !== '' && password !== ''"
      >
        <template>log in</template>
      </a>
    </footer>
  </div>
</template>

<script>
import qs from "qs";
export default {
  name: "LoginComponent",
  props: {
    msg: String,
  },
  data: () => {
    return {
      login: "",
      password: "",
    };
  },
  created() {},

  methods: {
    clickOnLogin() {
      if (this.password !== "" && this.login !== "") {
        const requestBody = {
          login: this.login,
          password: this.password,
        };

        const config = {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        };
        this.axios
          .post("/connection", qs.stringify(requestBody, config))
          .then((response) => {
            this.$router.push({ name: "Home" });
            this.$store.dispatch("setconnecteduser", response.data.user);
          })
          .catch((err) => {
            console.log(err);
            this.showPopUp(`Please check your credential`);
          });
      }
    },

    showPopUp(msg) {
      this.$buefy.snackbar.open(msg);
    },
  },
};
</script>

<style scoped>
.card {
  margin-top: 10px;
}
</style>
